name: Publish NuGet Package

on:
  push:
  
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '6.0.x'  # Specify your .NET version

      - name: Restore
        run: dotnet restore ./nuget.csproj  # Use the correct .csproj file name

      - name: Build
        run: dotnet build ./nuget.csproj --configuration Release  # Use the correct .csproj file name

      - name: Pack
        run: dotnet pack ./nuget.csproj --configuration Release --output ./nupkgs  # Use the correct .csproj file name

      - name: Push to GitHub Packages
        run: dotnet nuget push ./nupkgs/*.nupkg --source "https://nuget.pkg.github.com/GIT-Package-Master/index.json" --skip-duplicate --api-key "${{ secrets.GITHUB_TOKEN }}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Use the GitHub token for authentication
